/* .v-shape {
  position: relative;
  width: 100%;
  height: 100px;
  background: white;
  overflow: hidden;
} */

/* .v-shape::before,
.v-shape::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  background: #b33a2e;
  transform-origin: top;
} */

/* .v-shape::before {
  left: 0;
  transform: skewY(10deg);
}

.v-shape::after {
  right: 0;
  transform: skewY(-10deg);
} */

.roatate{
    position: relative;
}
